<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<title>Home</title>

<link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>

<h1>Bienvenido {{user.username}} a la página de inicio</h1>

</body>

</html>
